
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}



#map{

    height: 100vh;
    margin: 0;
    z-index: 2;
}

.legend {
    width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 550px;
}

.legend h4 {
    font-size: 16px;
    margin-bottom: 8px;
}

.legend p {
    font-size: 12px;
    color: #333;
    margin-left: 20px;
}
.a.restaurants{
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: #ff0000;
}
.a.bar{
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: #8754c0;
}
.a.rotissery{
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: #e3e188;
}
.a.icecream{
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: #63a2e0;
}
.a.backery{
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: #efa337;
}
.a.pub{
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: #59c745;
}